body{
    background-image: linear-gradient( #7F7EFF,#EFA8B8)
    ;
    background-attachment: fixed;
}

.Ator{
    color: rgb(255, 255, 255);

}

.frase{
    background-color: aquamarine;
    font-family: 'Times New Roman', Times, serif;
    
}